<h1>Турнир змееустов</h1>
<hr>
{{#each teams}}
  <img style="width: 100px" src="{{picture}}" />
  <h2>{{name}} — {{best_score}}</h2>
  <p>Лучшая игра: <a target="_blank" href="/recordings/{{best_record}}">{{best_record}}</a></p>
  <a href="/{{id}}">Посмотреть все игры</a>
  <hr>
{{/each}}
