<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Турнир змееустов</title>
  <link rel="stylesheet" type="text/css" href="/asciinema-player.css" />
</head>
<body>
  {{{body}}}
  <script src="/asciinema-player.js"></script>
  <script>
	window.location.pathname == '/' && document.addEventListener("DOMContentLoaded", function(event) {
		setInterval(function(){ window.location.href = window.location.href; }, 1000 * 10);
	});
  </script>
</body>
</html>
