<p>Лог последнего запуска: <a href="/results/{{player_id}}.log">{{player_id}}.log</a></p>
<hr>
{{#each recordings}}
  <b>{{result_score}}</b> — <a href="/recordings/{{filename}}">{{filename}}</a>
  <hr>
{{/each}}